{
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                    "node": "6.10"
                    }
                }]
            ]
        },
        "browser": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "browsers": "last 2 versions, ie 10-11"
                    },
                    "modules": "umd"
                }]
            ]
        },
        "cjs": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "node": "6.10"
                    },
                    "modules": "commonjs"
                }]
            ]
        }
    },
    "sourceMaps": true
}